[mysqld]

bind-address = 0.0.0.0

general_log_file        = /var/log/mysql/query.log
general_log             = 1

log_error = /var/log/mysql/error.log


character-set-server=utf8mb4
#collation-server=utf8mb4_bin
collation-server=utf8mb4_unicode_ci

secure-file-priv = "/home/user/SQL"

[client]
default-character-set=utf8mb4
